certifi==2020.6.20
cycler==0.10.0
decorator==4.4.2
face-alignment==1.1.1
future==0.18.2
fvcore==0.1.2.post20201111
imageio==2.9.0
kiwisolver==1.3.1
matplotlib==3.3.3
networkx==2.5
numpy==1.19.4
opencv-python==4.4.0.46
Pillow==8.0.1
portalocker==2.0.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytorch3d==0.3.0
PyWavelets==1.1.1
PyYAML==5.3.1
scikit-image==0.17.2
scipy==1.5.4
six==1.15.0
tabulate==0.8.7
termcolor==1.1.0
tifffile==2020.11.18
torch==1.6.0
torchvision==0.7.0
tqdm==4.52.0
yacs==0.1.8
facenet-pytorch==2.5.2

